:host {
  ion-icon {
    margin: 4rem auto;
    font-size: 120px;

    &.go {
      color: green;
    }

    &.stop {
      color: red;
    }
  }

  ion-row {
    justify-content: center;
  }

  ion-col {
    text-align: center;
  }
}
