<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Red Light, Green Light</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="loginForm">
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Username</ion-label>
            <ion-input
              formControlName="username"
              type="text"
              required
            ></ion-input> </ion-item
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="button"
            color="danger"
            expand="block"
            (click)="handleLoginButton()"
            >Login</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
